.page {
  padding: 16px;
  transition: margin-left .5s;
}

.page-margin {
  margin-left: 250px;
}

.sidenav {
  width: 0;
  height: 100%;
  background: #111;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
}

.sidenav-width {
  width: 250px;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  color: #818181;
  display: block;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top:0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px
}